// page.less
// -----------------------------------------------------------------

// Custom Fonts
@import "../globals/fonts.less";

// Bootstrap UI Framework
@import "../bootstrap/bootstrap.less";

// Wordpress Core Styles
@import "../globals/wordpress-core.less";

// Custom Variables
@import "../globals/variables.less";

// Z-index scale
@import "../globals/z-index.less";

// Colors
@import "../globals/colors.less";

// Buttons
@import "../globals/buttons.less";

// Site Header
@import "../globals/site-header.less";

// Site Footer
@import "../globals/site-footer.less";

// Patterns
@import "../globals/patterns.less";

main {
  padding: 30px 0 50px;
}

.page-banner {
  background-size: cover;
  width: 100%;
  margin-bottom: 30px;
  margin-top: -51px;
  background-repeat: no-repeat;
  .page-title {
    margin: 0;
    #gradient > .vertical(rgba(0,0,0,.0001), rgba(0,0,0,1), 40%, 100%);
    .container {
      position: relative;
      height: 200px;
    }
    h1 {
      color: #fff;
      position: absolute;
      bottom: 30px;
      left: 15px;
      margin: 0;
      font-size: 52px;
      text-shadow: 0 1px 4px rgba(0,0,0,.5);
    }
  }
}

.page-content {
  border-left: 1px solid @border-color;
  .make-md-column(9);
  .make-md-column-push(3);
  padding-left: 30px;
  iframe {
    width: 100%;
  }
  &.page-full {
    border-left: 0;
    padding-left: 15px;
    .make-md-column(12);
    .make-md-column-push(0);
  }
}

article {
  color: #555;
  p {
    line-height: 1.6em;
    margin-bottom: 15px;
  }
}

.parent-page {
  color: #999;
  margin-bottom: 10px;
  display: block;
  img {
    margin-left: 8px;
  }
}
.page-title {
  margin-bottom: 30px;
  h1 {
    font-weight: 300;
    margin: 0;
    font-family: @font-family-klavika-medium;
  }
}

.page-sidebar {
  .make-md-column(3);
  .make-md-column-pull(9);
  padding-right: 0;
  h2 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    line-height: 39px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      a {
        line-height: 2em; 
      }
      &.current_page_item {
        a {
          color: @text-color;
          text-decoration: none;
          &:hover {
            cursor: default;
            color: @text-color;
          }
        }
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .page-content {
    border-left: 0;
    padding-left: 15px;
    &.page-full {
      border-left: 0;
      padding-left: 15px;
    }
  }

  .page-sidebar {
    margin-top: 30px;
    background: @gray-bg;
    padding: 15px;
    ul {
      padding: 0 0 0 15px;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  main {
    padding: 30px 0;
  }

  .page-banner {
    margin-top: -30px;
    background-repeat: no-repeat;
    .page-title {
      margin: 0;
      #gradient > .vertical(rgba(0,0,0,.0001), rgba(0,0,0,1), 40%, 100%);
      .container {
        position: relative;
        height: 200px;
      }
      h1 {
        color: #fff;
        position: absolute;
        bottom: 20px;
        left: 15px;
        margin: 0;
        font-size: 36px;
        text-shadow: 0 1px 4px rgba(0,0,0,.5);
      }
    }
  }

  .page-content {
    border-left: 0;
    padding-left: 15px;
    &.page-full {
      border-left: 0;
      padding-left: 15px;
    }
  }

  .page-sidebar {
    margin-bottom: -30px;
    margin-top: 30px;
    background: @gray-bg;
    padding: 15px;
    ul {
      padding: 0 0 0 15px;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {}