// site-header.less
// -----------------------------------------------------------------

// Topbar styles
@import '../components/topbar.less';

.site-header {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  .navbar-header {
    .navbar-brand {
      padding: 50px 15px 0;
      .site-logo {
        color: @brand-secondary;
        font-size: 60px;
        font-family: @font-family-klavika-bold;
        text-transform: uppercase;
        display: block;
        line-height: .5em;
      }
      .site-logo-date {
        font-family: 'Archer SSm A', 'Archer SSm B';
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        color: #BBBBBB;

      }
    }
  }
  .navbar-collapse {
    .nav {
      & > li {
        &.menu-item-14 a {
          text-transform: none;
        }
        & > a {
          font-weight: 400;
          font-size: 18px;
          padding-left: 15px;
          padding-right: 15px;
          font-family: @font-family-tungsten;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .01em;
        }
      }
      .dropdown-menu {
        a {
          color: @brand-primary;
        }
      }
    }
  }
}



// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}