// site-header.less
// -----------------------------------------------------------------

// Topbar styles
@import '../components/topbar.less';

.site-header {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  .navbar-header {
    .navbar-brand {
      padding: 20px 15px 0;
      .site-logo {
        .hatch-logo();
        font-size: 60px;
        display: block;
        line-height: .7em;
      }
      .site-logo-date {
        font-family: 'Archer SSm A', 'Archer SSm B';
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        color: #BBBBBB;

      }
    }
  }
  .navbar-collapse {
    padding-top: 30px;
    .nav {
      & > li {
        &:nth-child(6) > a,
        &:nth-child(1) > a {
          text-transform: none;
        }
        &.dropdown {
          a {
            border: 1px solid transparent;
            border-radius: 3px 3px 0 0;
            padding: 9px 14px;
          }
          &.open > a {
            background: #fff;
            border-color: #ccc;
            padding-bottom: 6px;
            border-bottom: 0;
            z-index: 1050;
            & > span {
              border-color: transparent;
            }
            &:hover > span {
              border-color: transparent;
            }
          }
        }
        &.current > a,
        &.current_page_ancestor > a {
          color: #000;
          & > span {
            border-bottom: 3px solid @brand-secondary;
            &:hover {
              border-color: @brand-secondary;
            }
          }
        }
        & > a {
          font-weight: 400;
          font-size: 18px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-family: @font-family-tungsten;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .02em;
          & > span {
            padding-bottom: 2px;
            &:hover {
              border-bottom: 3px solid @brand-secondary;
            }
          }
        }
      }
      .dropdown-menu {
        border-color: #ccc;
        top: 37px;
        border-radius: 3px 0 3px 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
        padding-top: 15px;
        padding-bottom: 15px;
        a {
          color: @link-color;
          &:hover {
            background: #f5f5f5;
          }
        }
      }
    }
  }
}



// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .site-header {
    .navbar-collapse {
      .nav {
        & > li {
          &.dropdown {
            a {
              padding: 9px 9px;
            }
          }
          & > a {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .site-header {
    min-height: 75px;
    .container {
      width: 100%;
    }
    .navbar-header {
      .navbar-toggle {
        margin-top: 20.5px;
        margin-bottom: 20.5px;
      }
      .navbar-brand {
        padding: 15px 15px 0;
        height: 75px;
        .site-logo {
          font-size: 45px;
        }
        .site-logo-date {
          font-size: 13px;
        }
      }
    }
    .navbar-collapse {
      padding-top: 0;
      .nav {
        & > li {
          &:nth-child(6) > a {
            text-transform: none;
          }
          &.dropdown {
            a {
              border: 0;
              border-radius: 0;
            }
            .dropdown-menu {
              border-color: transparent;
              border-radius: 0;
              a {
                color: @link-color;
                padding-left: 30px;
                font-family: @font-family-tungsten;
                font-size: 21px;
                color: @text-color;
                &:hover,
                &:focus {
                  background-color: #f2f2f2;
                }
              }
            }
            &.open > a {
              border-bottom: 0;
              z-index: 0;
            }
          }
          &.current > a,
          &.current_page_ancestor > a {
            & > span {
              border-bottom: 0;
            }
          }
          & > a {
            font-size: 21px;
            &:hover,
            &:focus {
              background-color: #f2f2f2;
            }
            & > span {
              padding-bottom: 0;
              &:hover {
                border-bottom: 0;
              }
            }
          }
          .dropdown-menu {
            box-shadow: none;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {


  .site-header {
    min-height: 75px;
    margin-bottom: 0;
    .navbar-header {
      .navbar-toggle {
        margin-top: 20.5px;
        margin-bottom: 20.5px;
      }
      .navbar-brand {
        padding: 15px 15px 0;
        height: 75px;
        .site-logo {
          font-size: 45px;
        }
        .site-logo-date {
          font-size: 13px;
          color: #999
        }
      }
    }
    .navbar-collapse {
      padding-top: 0;
      .nav {
        & > li {
          &:nth-child(6) > a {
            text-transform: none;
          }
          &.dropdown {
            a {
              border: 0;
              border-radius: 0;
            }
            .dropdown-menu {
              border-color: transparent;
              border-radius: 0;
              a {
                color: @link-color;
                padding-left: 30px;
                font-family: @font-family-tungsten;
                font-size: 21px;
                color: @text-color;
                &:hover,
                &:focus {
                  background-color: #f2f2f2;
                }
              }
            }
            &.open > a {
              border-bottom: 0;
              z-index: 0;
            }
          }
          &.current > a,
          &.current_page_ancestor > a {
            & > span {
              border-bottom: 0;
            }
          }
          & > a {
            font-size: 21px;
            &:hover,
            &:focus {
              background-color: #f2f2f2;
            }
            & > span {
              padding-bottom: 0;
              &:hover {
                border-bottom: 0;
              }
            }
          }
          .dropdown-menu {
            box-shadow: none;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {}