@font-face {
  font-family: 'klavika-bold';
  src: url('../../fonts/klavika-bold.eot');
  src: url('../../fonts/klavika-bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/klavika-bold.woff2') format('woff2'), url('../../fonts/klavika-bold.woff') format('woff'), url('../../fonts/klavika-bold.ttf') format('truetype'), url('../../fonts/klavika-bold.svg#klavikabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'klavika-medium';
  src: url('../../fonts/klavika-medium.eot');
  src: url('../../fonts/klavika-medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/klavika-medium.woff2') format('woff2'), url('../../fonts/klavika-medium.woff') format('woff'), url('../../fonts/klavika-medium.ttf') format('truetype'), url('../../fonts/klavika-medium.svg#klavikamedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
.hatch-logo {
  color: #ffb100;
  font-family: klavika-bold, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.alert ul {
  margin-top: 10px;
}
.alert strong {
  font-weight: normal;
}
form input[type="text"],
form input[type="tel"],
form input[type="email"] {
  height: 40px;
}
form .btn-primary {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 65px;
  margin-top: 30px;
}
.ninja-forms-required-items {
  display: none;
}
.ninja-forms-success-msg {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.ninja-forms-success-msg p {
  margin: 0;
}
.ninja-forms-success-msg p:first-child {
  display: none;
}
.ninja-forms-success-msg p:last-child {
  display: none;
}
.ninja-forms-field-error {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442 !Important;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-top: 10px;
  padding: 10px 15px;
}
.ninja-forms-form-wrap .textarea-wrap textarea {
  height: 100px;
}
/* Tribe Theme Color */
#tribe-events-content .tribe-events-tooltip h4,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.single-tribe_events a.tribe-events-ical,
.single-tribe_events a.tribe-events-gcal {
  color: #007da3;
}
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button,
#tribe-events .tribe-events-button,
.tribe-events-button.tribe-inactive,
#tribe-events .tribe-events-button:hover,
.tribe-events-button:hover,
.tribe-events-button.tribe-active:hover {
  background-color: #007da3;
}
.tribe-events-page-title {
  font-family: klavika-medium, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 36px;
}
.tribe-events-calendar thead th {
  background-color: #222;
  border-left-color: #222;
  border-right-color: #222;
}
#tribe-events-content a,
.tribe-events-adv-list-widget .tribe-events-widget-link a,
.tribe-events-adv-list-widget .tribe-events-widget-link a:hover,
.tribe-events-back a,
.tribe-events-back a:hover,
.tribe-events-event-meta a,
.tribe-events-list-widget .tribe-events-widget-link a,
.tribe-events-list-widget .tribe-events-widget-link a:hover,
ul.tribe-events-sub-nav a,
ul.tribe-events-sub-nav a:hover {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', "Helvetica Neue", Arial, sans-serif;
}
.tribe-events-single-event-title {
  font-family: klavika-medium, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 36px;
}
/*# sourceMappingURL=tribe-events.css.map */