// partners-block.less
// -----------------------------------------------------------------

.section-partners {
  .innovation-partner {
    .make-md-column(3);
    .innovation-partner-wrapper {
      background: #F0F8FF;
      text-align: center;
      height: 254px;
      position: relative;
      .vertical-center-parent();
      img {
        width: 184px;
        .vertical-center();
      }
      span {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #0860A8;
      }
    }
  }
  .partners-column {
    .make-md-column(3);
    .partners-column-title {
      font-size: 14px;
      margin: 3px 0 15px;
      font-weight: 400;
    }
    .partner-logos {
      margin-bottom: -30px;
      .clearfix();
    }
    .partner-logo {
      margin-bottom: 30px;
      float: left;
      margin-right: 30px;
      width: 95px;
      height: 95px;
      background: #f5f5f5;
      border-radius: 3px;
      text-align: center;
      img {
        width: 90px;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {}

// Up to landscape phone
@media (max-width: 480px) {}