// post.less
// -----------------------------------------------------------------

.post,
.type-tribe_events {
  position: relative;
  .post-format {
    position: absolute;
    top: 0;
    left: -77px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: block;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .format-icon {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }
  }
  &.category-becauseofhatch .post-format {
    background: #FFF8F2;
    border: 2px solid #F2AE79;
    .format-icon {
      background-image: url('../../img/post-format-because-of-hatch.svg');
      height: 30px;
      width: 23px;
    }
  }
}
.post.type-post,
.type-tribe_events {
  margin-bottom: 50px;
  border-bottom: 1px solid @border-color;
  padding-bottom: 50px;
  .post-title {
    margin: 0 0 12px;
    font-size: 32px;
    line-height: 1.25em;
    font-weight: 400;
    letter-spacing: -.02em;
    a {
      color: #252C33;
    }
    .icon-external-link {
      margin-left: 10px;
    }
  }
  .post-meta {
    font-family: @font-family-archer;
    font-weight: 600;
    font-style: italic;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .wp-post-image {
    .img-responsive();
    margin-bottom: 30px;
  }
  .post-excerpt {
    color: #555;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .post-content {
    margin-bottom: 50px;
    color: #555;
    font-size: 16px;
    line-height: 24px;
    iframe {
      width: 100%;
    }
  }
  .btn-continue {
    color: @link-color;
    border-radius: 36px;
    line-height: 36px;
    padding: 0 20px;
    border-radius: 18px;
    border-color: #d9d9d9;
    &:hover {
      background: @link-color;
      border-color: @link-color;
      color: #fff;
    }
  }
  .share-post {
    margin-bottom: 20px;
    .like-button {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
      position: relative;
      top: -4px;
      margin-top: 3px;
    }
    .tweet-button {
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .post {
    .post-format {
      display: none;
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .post {
    .post-format {
      display: none;
    }
  }
  .post.type-post {
    margin-bottom: 30px;
    padding-bottom: 30px;
    .post-title {
      font-size: 28px;
      .icon-external-link {
        top: 0;
      }
    }
    .wp-post-image {
      .img-responsive();
      margin-bottom: 15px;
    }
    .post-content {
      margin-bottom: 50px;
      color: #555;
      font-size: 16px;
      line-height: 24px;
    }
    .share-post {
      margin-bottom: 20px;
      .like-button {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
        position: relative;
        top: -4px;
        margin-top: 3px;
      }
      .tweet-button {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .post {
    .post-format {
      display: none;
    }
  }
  .post.type-post {
    margin-bottom: 30px;
    padding-bottom: 30px;
    .post-title {
      font-size: 24px;
      line-height: 1.25em;
      .icon-external-link {
        top: 0;
      }
    }
    .wp-post-image {
      .img-responsive();
      margin-bottom: 15px;
    }
    .post-content {
      margin-bottom: 50px;
      color: #555;
      font-size: 16px;
      line-height: 24px;
    }
    .share-post {
      margin-bottom: 20px;
      .like-button {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
        position: relative;
        top: -4px;
        margin-top: 3px;
      }
      .tweet-button {
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {}