// sidebar.less
// -----------------------------------------------------------------

.blog-sidebar {
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
  .widget_text {
    text-align: center;
    border-bottom: 1px solid @border-color;
    font-size: 13px;
    line-height: 21px;
    padding: 27px 15px;
    p {
      margin-bottom: 20px;
    }
  }
}