// what-is-hatch.less
// -----------------------------------------------------------------

.what-is-hatch {
  background: @gray-bg;
  text-align: center;
  padding: 60px 0;
  .what-is-hatch-wrapper {
    .make-md-column(10);
    .make-md-column-offset(1);
  }
  h2 {
    margin: 0 0 25px;
    font-size: 32px;
    font-weight: 400;
    .hatch-logo {
      font-size: 38px;
    }
  }
  p {
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 40px;
  }
  .btn-primary {
    font-weight: 700;
    padding: 0 30px;
    height: 36px;
    line-height: 36px;
  }
}